
<style>
body{
  background: lavender;
}
</style> 
<table class="table table-striped-columns">
  <thead >
    <tr>
      <th scope="col">Companion Name:</th>
      <th scope="col">Date of Birth:</th>
      <th scope="col">Aadhar No.:</th>
      <th scope="col" >Pan Card No.:</th>
      <th scope="col"> </th>
      <th scope="col"> </th>

     </tr>
  </thead>
<tbody>
<tr>

      <td><%=newtable.gurdian_name%></td>
      <td><%=newtable.dob%></td>
      <td><%=newtable.aadhar_no%></td>
      <td><%=newtable.pan_card_no%></td>
      <td><%= link_to "Destroy Comment", [newtable.trip, newtable], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %></td>
    </tr>
</tbody>
</table>

